/*--head--*/
body{
	margin:0;
	font-family:"Georgia","Microsoft YaHei","黑体","serif";
}
body a{
	transition:0.5s;
	text-decoration:none;
}
h1,h2,h3,h4,h5,h6{
	margin:0;			   
}
p{
	margin:0;
}
ul{
	margin:0;
	padding:0;
}
nav a:link,a:visited{
	margin-right:25px;
	color:#272727;
	font-weight:700;
	font-size:20px;
}
nav a:hover{
	color:#f27b47;
}
body a:{
	text-decoration:none;
}
/*--container--*/
.container{
	background-color:#272727;
	padding:80px 0;
}
.header{
	background-color:#ffffff;
	padding: 38px 10px;
	margin:0 15%;
}
.logo{
	float:left;
	width:11%;
}
.logo img{
	position:absolute;
	left:230px;
	top:51px;
	width:10%;
}
nav{
    float: left;
    width: 99%;
    text-align: right;
    margin-top: -12px;
}
.wrap{
	padding:80px 6% 80px 6%;
	background:#424448;
	margin:25px 15% 0 15%;
}
.footer p{
	color:#d7dde6;
	font-size:16px;
	margin:0px 0;
	text-align:center;
}
.footer p span{
	color:#f27b47;
}
.footer {
	margin-top:80px;
}


	